pipeline/Pl_Tasktest1.json
{
	"name": "Pl_Tasktest1",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PI_tasktest",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"test4": {
							"value": "@pipeline().globalParameters.Status",
							"type": "Expression"
						},
						"test2": {
							"value": "@pipeline().globalParameters.Status",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_destination_datalake",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems",
						"itemName",
						"itemType"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "BinaryReadSettings"
					}
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().name,'QASOP.pdf')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Testpriya123": {
				"type": "string",
				"defaultValue": "abc"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-04-03T03:11:22Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}